<div class="">
  <form [formGroup]="miFormulario" (ngSubmit)="submit()">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Ingrese Su Nombre</mat-label>

      <input formControlName="nombre" matInput />

      <mat-error *ngIf="validarDatos('nombre')">
        El campo es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Usuario</mat-label>

      <input formControlName="user_name" matInput />

      <mat-error *ngIf="validarDatos('user_name')">
        El campo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Ingrese su contraseña</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <mat-error *ngIf="validarDatos('password')">
        El campo es obligatorio, y debe tener minimo 6 caracteres
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="mb-3">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Repita su contraseña</mat-label>
      <input
        formControlName="password2"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <mat-error *ngIf="validarDatos('password2')">
        Las contraseñas deben ser iguales
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="mb-3">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <button class="w-100 mt-2" type="submit" mat-raised-button color="primary">
      Enviar
    </button>
  </form>
</div>
