<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">CLIENTNUM</th>
      <th scope="col">{{ client.CLIENTNUM }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Attrition_Flag</th>
      <th scope="row">{{ client.Attrition_Flag }}</th>
    </tr>
    <tr>
      <th scope="row">Customer_Age</th>
      <th scope="row">{{ client.Customer_Age }}</th>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <th scope="row">{{ client.Gender }}</th>
    </tr>
    <tr>
      <th scope="row">Dependent_count</th>
      <th scope="row">{{ client.Dependent_count }}</th>
    </tr>
    <tr>
      <th scope="row">Education_Level</th>
      <th scope="row">{{ client.Education_Level }}</th>
    </tr>
    <tr>
      <th scope="row">Marital_Status</th>
      <th scope="row">{{ client.Marital_Status }}</th>
    </tr>
    <tr>
      <th scope="row">Income_Category</th>
      <th scope="row">{{ client.Income_Category }}</th>
    </tr>
    <tr>
      <th scope="row">Card_Category</th>
      <th scope="row">{{ client.Card_Category }}</th>
    </tr>
    <tr>
      <th scope="row">Months_on_book</th>
      <th scope="row">{{ client.Months_on_book }}</th>
    </tr>
    <tr>
      <th scope="row">Total_Relationship_Count</th>
      <th scope="row">{{ client.Total_Relationship_Count }}</th>
    </tr>
    <tr>
      <th scope="row">Months_Inactive_12_mon</th>
      <th scope="row">{{ client.Months_Inactive_12_mon }}</th>
    </tr>
    <tr>
      <th scope="row">Contacts_Count_12_mon</th>
      <th scope="row">{{ client.Contacts_Count_12_mon }}</th>
    </tr>
    <tr>
      <th scope="row">Credit_Limit</th>
      <th scope="row">{{ client.Credit_Limit }}</th>
    </tr>
  </tbody>
</table>
